.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.education {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    
}
.education h1{
    color: #FF9F1C;
    font-size: 50px;
}

.education-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.edu-item {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: #D9D9D9 ;
    background-color: #121212;
}


#Education{
    padding-top: 100px;
}

.edu-item h3{
    color: #EAEAEA;
}